# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Xcode project user data
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Secrets / local configuration
.env
*.env